/.envrc
/node_modules
/bazel-*
!/.vscode/settings.json
# next.js
.next/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel
/packages/lib/shopify/admin-api.ts
/packages/tsconfig.json
/packages/next-env.d.ts
/storybook-static
